

layout: default


<div id="maincontainer">
 <div class="container">
     <div class="fbprofile">
         <div class="fbimagelg fb_img">
             <div class="fbquotes">The only way to do<br/><span class="quote_highlight"> great work</span> is to <span class="quote_highlight">love</span><br/>what you do<div class="author_name"> Steve Jobs</div></div>
             
         </div>
         <!--<img align="left" class="fbimagelg" src="/images/overlay.jpg" alt="Profile image example"/>-->
         <!-- <img align="left" class="fbimageprofile thumbnail" src="/images/profile_pic.jpg" alt="Profile image example"/> -->
         <div class="fbprofiletext">
             <h1><span>Hi! I'm </span>Sridhar&nbsp;Swaminathan</h1>
             <h2><span id="jsrotating" class="positionTitle">Web Designer, UI / UX Consultant, FrontEnd Developer, PHP Developer, Graphic Designer</span></h2>
         </div>
     </div>
 </div>
 
 <div class="container">
     <h1>My Skills</h1>
     <div class="row">
         
         {% if page.url == "/" %}
         {% for post in site.categories.skills %}
         
         
         <div class="progress">
             <div class="progressbar progressbarsuccess" role="progressbar" ariavaluenow="{{post.rate}}" ariavaluemin="0" ariavaluemax="100" style="width: {{post.rate}}%;">
                 <span class="sronly">{{post.rate}}% Complete (success)</span>
             </div>
             <span class="progresstype">{{post.title}}</span>
             <span class="progresscompleted">{{post.rate}}%</span>
         </div>
         
      
         {% endfor %}
         {% endif %}
     </div>
     
     <h1>My Profile</h1>
     <div class="row">
         <div class="colmd3 colxs6">
             <a href="/profile/sridhar_updated.pdf" download>
                 <img src="/images/pdficon.png" />
             </a>
             
         </div>
         <div class="colmd3 colxs6">
             <a href="/profile/sridhar_updated.docx" download>
                 <img src="/images/worddocicon.png" />
             </a>
             
         </div>
     </div>
     
     <h1>My Work</h1>
 
     <div class="row">
        <!-- <button class="sort btn btnmd btnsuccess" datasort="myorder:asc"><i class="fa fasortalphaasc"></i></button>
         <button class="sort btn btnmd btnsuccess" datasort="myorder:desc"><i class="fa fasortalphadesc"></i></button>-->
         <button class="filter btn btnmd btnsuccess" datafilter=".design">Design</button>
         <button class="filter btn btnmd btnsuccess" datafilter=".development">Development</button>
         <div id="Container" style="margintop: 30px;">
         {% if page.url == "/" %}
             {% for post in site.categories.work %}
     
             <div class="colmd3 colsm4 collg3 colxs6 mix {{post.group}}" datamyorder="{{ post.order }}">
                 <div class="img">
                     <a href="{{ post.url | prepend: site.baseurl }}" class="mainposttitle clickBtn">
                         <img src="/images/works/thumb/{{post.thumb}}" />
                     </a>
                     <div class="desc">{{ post.title | truncate: 15 }} </div>
         
                 </div>
             </div>
             {% endfor %}
         {% endif %}
         
         </div>
     </div>
     
 </div>
 </div>
