---

layout: default

---
<div id="main-container">
<div class="container">
    <div class="fb-profile">
        <div class="fb-image-lg fb_img">
            <div class="fb-quotes">The only way to<br/>do <span class="quote_highlight"> great work</span> is<br/><span class="quote_highlight">to love</span> what you do<div class="author_name">- Steve Jobs</div></div>
            
        </div>
        <!--<img align="left" class="fb-image-lg" src="/images/overlay.jpg" alt="Profile image example"/>-->
        <img align="left" class="fb-image-profile thumbnail" src="/images/profile_pic.jpg" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>Sridhar&nbsp;Swaminathan</h1>
            <h2><span id="js-rotating" class="positionTitle">Web Designer, UI / UX Consultant, Front-End Developer, PHP Developer, Graphic Designer</span></h2>
        </div>
    </div>
</div>

<div class="container">
    <h1>My Skills</h1>
    <div class="row">
        
        {% if page.url == "/" %}
        {% for post in site.categories.skills %}
        
        
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{post.rate}}" aria-valuemin="0" aria-valuemax="100" style="width: {{post.rate}}%;">
                <span class="sr-only">{{post.rate}}% Complete (success)</span>
            </div>
            <span class="progress-type">{{post.title}}</span>
            <span class="progress-completed">{{post.rate}}%</span>
        </div>
        
     
        {% endfor %}
        {% endif %}
    </div>
    
    <h1>My Profile</h1>
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <a href="/profile/sridhar_updated.pdf" download>
                <img src="/images/pdf-icon.png" />
            </a>
            
        </div>
        <div class="col-md-3 col-xs-6">
            <a href="/profile/sridhar_updated.docx" download>
                <img src="/images/word-doc-icon.png" />
            </a>
            
        </div>
    </div>
    
    <h1>My Work</h1>

    <div class="row">
       <!-- <button class="sort btn btn-md btn-success" data-sort="my-order:asc"><i class="fa fa-sort-alpha-asc"></i></button>
        <button class="sort btn btn-md btn-success" data-sort="my-order:desc"><i class="fa fa-sort-alpha-desc"></i></button>-->
        <button class="filter btn btn-md btn-success" data-filter=".design">Design</button>
        <button class="filter btn btn-md btn-success" data-filter=".development">Development</button>
        <div id="Container" style="margin-top: 30px;">
        {% if page.url == "/" %}
            {% for post in site.categories.work %}
    
            <div class="col-md-3 col-sm-4 col-lg-3 col-xs-6 mix {{post.group}}" data-my-order="{{ post.order }}">
                <div class="img">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="main-post-title clickBtn">
                        <img src="/images/works/thumb/{{post.thumb}}" />
                    </a>
                    <div class="desc">{{ post.title | truncate: 15 }} </div>
        
                </div>
            </div>
            {% endfor %}
        {% endif %}
        
        </div>
    </div>
    
</div>
</div>