$font: Raleway;
$nav-color: #000;
$hover-link-color: #457f8d;
$secondary-font-color: #707070;

$accent-color-1: #ebebeb;
$accent-color-2: #ccd8db;
$footer-color: #c6c6c6;

$main-titles-size: 2.2em;
$main-titles-leading: 1em;
$main-titles-size-m: 1.5em;
$paragraph-size: 1.1em;
$post-title-size:3.2em;

$main-padding: 20px;
$sections-margin: 50px;

* {
    font-family:$font;
}

html,body {
    height:100%;
}

body {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 32%, #dbdbdb 59%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 32%,#dbdbdb 59%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 32%,#dbdbdb 59%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
}

a {
    text-decoration:none;
    color:$nav-color;
    font-size:1.2em;
}

a:hover {
    color:$hover-link-color;
}

p {
    font-size:$paragraph-size;
}

header {
    padding:50px 0;
}

nav {
    float:right;
}

nav a {
    margin-right:30px;
}

nav a:last-child {
    margin-right:0;
}

.menu-icon {
    display:none;
}

.sections {
    margin: $sections-margin auto;
}

.fb-profile-text h1{
    font-family: $font;
}

.main-post {
    display:block;
    background:$accent-color-1;
    border: 3px solid $accent-color-2;
}

a.main-post-title {
    font-size:$main-titles-size;
    padding: $main-padding $main-padding 0 $main-padding;
    display:block;
    line-height: $main-titles-leading;
}

.main-post span {
    margin-left: $main-padding;
    color:$secondary-font-color;
}

.sub-posts span {
    color:$secondary-font-color;
}

.main-post p {
    margin: $main-padding;
}

.main-thumb {
    width:auto;
    height:157px;
    overflow:hidden;
    margin-top:$main-padding;
}

.sub-thumb {
    width:124px;
    height:124px;
    position:relative;
    overflow:hidden;
    border-radius: 50%;
    background-position: center;
    margin-bottom:20px;
}

a.sub-post-title {
    font-size:$main-titles-size;
    display:block;
    line-height:$main-titles-leading;
}

.sub-posts {
    margin-bottom: $main-padding;
}

table{
    font-size: 20px;
}

table th{
    color:#535353;
}

div.img {
    margin-bottom: 20px;
}

#slides .slidesjs-navigation {
    font-size: 25px;
}

.ad {
    text-align:center;
    margin-bottom: $main-padding * 2;
}

.pagination {
    clear:both;
    display:block;
}

footer {
    background-color:$footer-color;
    min-height:160px;
}

ul#social-links {
    list-style-type:none;
    margin:0;
    float:right;
}

ul#social-links li {
    display:inline;
    float:left;
    margin: $main-padding * 2 30px 0 0;
}

.pagination {
    text-align:center;
}

a.previous, a.next {
    font-weight:bold;
    margin: $main-padding * 2 $main-padding $main-padding * 2 0;
    display:inline-block;
    background:$footer-color;
    padding: $main-padding;
}

#footer-logo {
    width:40%;
    margin-top: $main-padding * 2;
}

.fb_img{
    background: url('../images/overlay.jpg');
    height: 360px;
    background-size: cover;
}

.fb-quotes{
    width: 300px;
    margin: 10px 20px 0 0;
    float: right;
    font-weight: 400;
}

.fb-quotes, .fb-quotes span{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #fff;
    clear: both;
}

.author_name{
    font-size: 35px;
    color: #D4B0F5;
    text-align: right;
    margin: 35px 40px;
    font-family: 'Amatic SC', cursive;
}

.quote_highlight{
    font-weight: 700;
    text-shadow: #000 0px 5px 5px;
}

h1{
    font-family: 'Kadwa', serif;
}

h1.post-title {
    font-size:$post-title-size;
    font-weight:300;
    line-height: $main-titles-leading;
    margin-bottom:0;
}

img#main-img {
    display:inline;
    float:left;
    padding: 0 $main-padding $main-padding 0;
}

header {
    padding: 10px 0;
}

.post-content {
    margin-bottom: $main-padding * 3;
}

.sidebar-ad {
    margin-top: $main-padding * 2;
}

.post-meta {
    margin-top: 0;
}

@media only screen and (max-width: 64.063em) {

    a.main-post-title, a.sub-post-title {
        font-size:$main-titles-size-m;
        line-height: $main-titles-leading;
    }

    .sub-posts {
        text-align:center;
    }

    .sub-thumb {
        margin: 0 auto $main-padding auto;
    }

}


@media only screen and (max-width: 40em) {
    
    .fb-profile-text > h1{
        font-size: 25px !important;
        font-weight: 200 !important;
    }
    
    .fb-profile-text > h1 + h2{
        font-size: 20px !important;
        padding-top: 0px;
        margin-top: 0px;
        font-weight: 200 !important;
    }
    .main-post {
        text-align:center;
        margin-bottom: $main-padding;
    }

    p {
        font-size: 1em;
    }
    
    .fb-quotes, .fb-quotes span, .quote_highlight{
        font-size: 50px;
        color: #fff;
    }
    
    .author_name{
        font-size: 20px;
        color: #fff;
    }
    
    .fb-quotes{
        padding-left: 30px;
    }
    
    a.menu-icon {
        display:inline;
    }

    .trigger {
        display:none;
        width:100%;
        margin-top: $main-padding;
    }

    nav {
        display:block;
        clear:both;
        width:100%;
        text-align:right;
        margin-top:-45px;
    }

    .trigger a {
        display:block;
        width:100%;
        border-bottom: 1px solid $footer-color;
        margin-right: -$main-padding;
        padding: $main-padding / 2 0;
        text-align:left;
    }
    
    .fb-image-profile {
        margin: -90px 10px 0px 50px;
        z-index: 9;
        width: 50% !important;
    }
    

}

@media only screen and (min-width: 40em) {
    .trigger {
        display:block !important;
    }
}


/* slides */
#slides {
      display: none
    }
    #slides .slidesjs-navigation {
      margin-top:3px;
    }
    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }
    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }
    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }
    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }
    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }
    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }
    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }
    #slides a:link,
    #slides a:visited {
      color: #333
    }
    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

.preloader { 
   background:url(/images/loader.gif) center center no-repeat #ffffff; 
   display:inline-block;  
}
   /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }
    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }
    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }
    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }
