<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}


        {{ content }}

    {% include footer.html %}
      <script src="/plugins/jquery/dist/jquery.min.js"></script>
      <script src="/js/bootstrap.js"></script>
      <script src="/plugins/Morphext/dist/morphext.min.js"></script>
      <script src="/js/jquery.mixitup.js"></script>
      <script src="/js/custom.js"></script>
       <!-- SlidesJS Required: Link to jquery.slides.js -->
      <script src="/js/jquery.slides.min.js"></script>
      <!-- End SlidesJS Required -->
  </body>

</html>
